@use "variables" as v;
@use "mixins" as m;

.case-study-container {
    max-width: v.$max-width;
    margin: v.$sp_lg auto;

    .hero {
        margin: v.$sp_lg 0 v.$sp_xl;
        text-align: center;
        
        h1 {
            font-size: 2.25em;
            font-family: v.$sans-serif;
            color: v.$black;
            margin-bottom: 10px;
            font-weight: 600;
        }

        p {
            font-size: 1.25rem;
            font-weight: 400;	
            font-family: v.$serif;
            line-height: 1.5;
            color: v.$dark-grey;
            margin: v.$sp_md auto 0;
            max-width: 750px;
        }
    }

    .gallery {

        img {
            width: 100%;
            border: 1px solid v.$med-grey;
            border-radius: 0 !important;
            box-shadow: 1px 1px 10px v.$light-grey;
            @include m.fade;

            &:hover {
                @include m.scale;
            }
        }       
    }

    .img_break {
        max-width: 100%;
        margin: 0 0 v.$sp_lg;

        img {
            width: 100%;
            border: 1px solid v.$med-grey;
        }
    }

    .overview-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
 
    .stats-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: v.$sp_md;     
    }

    .solution-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: v.$sp_lg;
        align-items: center;
        margin-bottom: v.$sp_lg;
    }

    .text-content  {
        width: 100%;
        max-width: v.$text-max-width;

        ul {
            padding-left: v.$sp_md;
            
            li {
                list-style-type: disc !important;
                font-family: v.$serif;
                margin: 0 0 v.$sp_sm;
            }
        }
    }
       
    .insight-quote {
        font-size: 1.8em;
        text-align: center;
        margin: v.$sp_md 0 v.$sp_lg;
        color: v.$accent;    
    }

    .stat-card {
        text-align: center;
        padding: v.$sp_md;
        border-radius: v.$radius;
        border: 1px solid v.$med-grey;

        .stat-number {
            font-size: 2.5em;
            font-weight: 500;
            color: v.$accent;
            margin-bottom: v.$sp_sm;
        }

        .stat-label {
           font-family: v.$serif;
        }
    }


    @media only screen and (max-width: v.$bp_mobile) {
        
        .hero {
            margin: v.$sp_md 0 v.$sp_lg;   
        }

        .overview-grid {
            grid-template-columns: 1fr;
            grid-gap: v.$sp_md;
        }
        
        .stats-grid {
            grid-template-columns: 1fr;
            gap: v.$sp_sm;
        }

        .solution-item {
            grid-template-columns: 1fr;
        }

        .solution-item.reverse {
            grid-template-columns: 1fr;
        }

        .gallery {
            text-align: center;

            img {
                width: 70%;
            }
        }
    }

     @media (min-width: v.$bp-mobile) {

        .solution-item.reverse .gallery {
            order: 2;
        }
        .solution-item.reverse .text-content {
            order: 1;
        }
     }
}

