.case-study-container {
    max-width: 900px;
    margin: $sp_lg auto;
 
    p {
        font-family: "Libre Baskerville", serif;
    }

    .hero {
        margin: $sp_lg 0 $sp_xl;
        text-align: center;
        
        h1 {
            font-size: 2em;
            color: $black;
            margin-bottom: 10px;
            font-weight: 700;
            color: $mint;
        }

        p {
            max-width: 700px;
            margin: 0 auto;
        }
    }

    .gallery {

        img {
            width: 100%;
            border: 1px solid $med-grey;
            border-radius: 0 !important;
            box-shadow: 1px 1px 10px $light-grey;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.02);
            }
        }       
    }

    .img_break {
        max-width: 100%;
        margin: 0 0 $sp_lg;    

        img {
            width: 100%;
            border: 1px solid $med-grey;
        }
    }
 
    .overview-grid, .stats-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: $sp_xl;
    }

    .solution-item {
        display: grid;
        grid-template-columns: 1fr;
        gap: $sp_lg;
        align-items: center;
        margin-bottom: $sp_lg;
    }

    .text-content  {
        width: 100%;
        max-width: 700px;

        ul {
            padding-left: $sp_md;
            
            li {
                list-style-type: disc !important;
                font-family: "Libre Baskerville", serif;
                margin: 0 0 $sp_sm;
            }
        }
    }
       
    .insight-quote {
        font-size: 1.8em;
        text-align: center;
        margin: $sp_md 0;
        color: $mint;    
    }

    .stat-card {
        text-align: center;
        padding: $sp_md;
        border-radius: $radius;
        border: 1px solid $med-grey;

        .stat-number {
            font-size: 2.5em;
            font-weight: 700;
            color: $mint;
            margin-bottom: $sp_sm;
        }

        .stat-label {
           font-family: "Libre Baskerville", serif;
        }
    }


    /* Responsive Grid Adjustments */
    @media (min-width: 768px) {
        .overview-grid {
            grid-template-columns: 1fr 2fr;
        }
        .stats-grid {
            grid-template-columns: repeat(3, 1fr);
        }
        .solution-item {
            grid-template-columns: 1fr 1fr;
        }
        .solution-item.reverse {
            grid-template-columns: 1fr 1fr;
        }
        .solution-item.reverse .gallery {
            order: 2;
        }
        .solution-item.reverse .text-content {
            order: 1;
        }
    }
}