#classes {

	li {
		border-bottom: 1px solid $med-grey;
		margin: 0 0 $sp_lg;
		padding: 0 0 $sp_lg;
		
		&:last-child {
			border: 0;
		}
	}
	
	.class_date-time {
		font-size: 0.9rem;
	}
	
	.class_description {
		max-width: 700px;
	}
	
	.class_registration {
		margin: $sp_sm 0 0;
	}
	
	a.btn_register {
		display: inline-block;
		border: 2px solid $black;
		padding: $sp_sm $sp_md;
		font-weight: 600;
		background-color: $white;
		text-decoration: none;
		
		&:hover {
			color: $pink;
			border-color: $pink;
			cursor: pointer;
		}
	}
}