@use "variables" as v;
@use "mixins" as m;

.projects {
    display: grid;
    grid-gap: v.$sp_lg;
	max-width: 1350px;
}

div.project_row {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: v.$sp_lg;
    
    div.project {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-gap: 0;

        ul.project_thumbs {
            display: grid;
            grid-auto-flow: column;

            &.outdent {
                margin-left: -11px;
            }

            li {
                display: inline-block;
                @include m.scale;

                a {
                    text-decoration: none;                
                }
				
				img {
					width: auto;
					max-width: v.$thumb_width;    
				}
            } 
        }

        .project_description {
			text-align: left;
    
            p {
				font-family: v.$serif;
                font-size: 0.85em;
                margin: v.$sp_xsm 0;
				max-width: 400px;
				width: 100%;          
            }

            a.casestudy_link {
                margin: v.$sp_sm 0 0;
            }
        }
    }
}

@media only screen and (max-width: v.$bp_mobile) {

    .projects {
        overflow: hidden;
	}
	
	div.project_row { 
        grid-template-columns: 1fr;
        overflow-x: auto;
     
		div.project {
            margin: 0 0 v.$sp_md;
	
			ul.project_thumbs {
                grid-auto-columns: auto;
                column-gap: v.$sp_sm;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
				
                &::-webkit-scrollbar {
                    display: none;
                }
			}
		}
	}
}