$black: #01010F;
$white: #FFFFFF;
$bg-grey: #F8F8F8;
$dark-grey: #666666;
$med-grey: #CCCCCC;
$light-grey: #EEEEEE;
$grey: #333333;
$mint: #1AA87B;
$mint-light: #E3FAF3;
$pink: #e31c79;

$sp_xl: 80px;
$sp_lg: 40px;
$sp_md: 20px;
$sp_sm: 10px;
$sp_xsm: 5px;

$radius: 8px;

$thumb_width: 250px;
$thumb_height: 200px;

$max-width: 1024px;

$bp_mobile: 768px;