@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$black: #01010F;
$white: #FFFFFF;
$bg-grey: #F8F8F8;
$dark-grey: #666666;
$med-grey: #CCCCCC;
$grey: #333333;
$mint: #20D099;
$mint-light: #E3FAF3;
$pink: #e31c79;

$sp_xl: 80px;
$sp_lg: 40px;
$sp_md: 20px;
$sp_sm: 10px;
$sp_xsm: 5px;

$thumb_width: 250px;
$thumb_height: 200px;

$max-width: 1024px;

$bp_mobile: 768px;

@import "projects";
@import "classes";

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: $white;
    padding: 2%;
}
        
p {
    font-size: 1em;
    color: $black;
    line-height: 1.5;
    letter-spacing: 1.2;
}

a {
    color: $black;

    &:hover {
        color: $grey;
    }
	
	&.inactive {
		color: $grey;
	}
}

h1 {
    font-size: 1.625rem;
	line-height: 1.6;
    color: $dark-grey;
    margin: 0;
    font-weight: 400;	
	font-family: "Libre Baskerville", serif;
}

h2 {
    font-size: 1.375rem;
    color: $black;
    margin: 0;
    font-weight: 500;
}

h3 {
    font-size: 1.15rem;
    color: $black;
    margin: 0;
    font-weight: 500;
	color: $pink;
}

hr {
    height: 0;
    border: 1px solid $mint;
    margin: $sp_lg 0;
}

section {
    padding: $sp_lg 0;
    border-top: 5px solid $black;

    h2 {
        margin: 0 0 $sp_md;
    }
	
	&#classes {
		border: none;
	}
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $sp_md;

    #logo {
        img {
            width: 145px;
        }
    }

    #social {
        display: inline-grid;
        grid-template-columns: repeat( 4, min-content );
        justify-content: end;
        align-items: center;
        grid-gap: $sp_md;

        text-align: right;
        vertical-align: bottom;
        		vertical-align: center;

        a {
            display: inline-block;
			text-decoration: none;
			font-weight: 500;
			font-size: 0.9rem;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

#statement {
	margin: $sp_xl 0;
	width: 70%;
}


footer {
    text-align: center;
	border-top: 1px solid $med-grey;
	margin: $sp_lg 0 0;
	padding: $sp_lg 0;

    p {
        font-size: 0.65em;
    }
}


@media only screen and (max-width: $bp_mobile) {
	
	.projects {
		width: 100%;
	}
	
	ul.project_row { 
		margin: 0 0 $sp_lg;
		li.project {
			margin: 0 0 $sp_lg;
			
			&.thumb_one,
			&.thumb_two,
			&.thumb_three {
				max-width: 100%;
				width: 100% !important;
				text-align: center;
			}
			
			ul.project_thumbs {
	
				li {
							
					img {
						max-width: 80%;
					}
				}
			}
		}
	}
		
    #social {
        grid-gap: $sp_md;

        a {
            font-size: 0.85em;
        }
    }

	#statement {
		width: 100%;
	}
}